  

 <link rel="stylesheet" type="text/css" href="/css/nav.css"/>
<nav class="navbar fixed-top navbar-expand-lg toggle-height" id="global-nav" style="font-family: 'Gravity-Regular';">
     <div class="container">
    <a class="navbar-brand scrollN" href="/">
        <img src="/images/logo.png" alt="" width="30" height="24" class="d-inline-block align-top">
        Eeshita Gupta</a>
    <button class="navbar-toggler custom-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon custom-toggler"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li> <a class="nav-link scrollN" href="/software/">Projects</a></li>
        <li> <a class="nav-link scrollN" href="/certification/">Certification</a></li>
        <li><a class="nav-link scrollN" href="/work/">Work </a></li>
        <li><a class="nav-link scrollN" target="_blank" href="https://drive.google.com/file/d/1dx3eDIBD5VWwNEGHEpCJcLc1JfcW2VCq/view?usp=sharing">Resume</a></li>
      </ul>
      <ul class="navbar-nav">
          <li><a class="nav-link scrollN" href="#contactref">Contact</a></li>
      </ul>
    </div>
     </div>
 </nav>
 <script type="text/javascript" src="/scripts/nav.js"></script>

