<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/page.css"/>
    <% include ../partials/includes %>
  </head>
  <body>
    <% include ../partials/nav %>
   
    <div class="homeImg">
        <div class="homeDiv center">
            <h1 class="tileMain">Hey! I am Eeshita </h1>
            <br>
            <h3>a glimse of my journey 🤗 </h3>
        </div>
        <a href="#">
        <div class="homeSouth">
            <h4  class="stealthLink subPmin padX0" >Read More</h4>
            <button class="smoothScrollBtn" type="button"><img src="/images/Down-Arrow-White.png" width="30"/></button>
        </div>
      </a>
    </div>

    <div class="container-fluid aboutMe" >
      <div class="container aboutMe">
          <div class="row rowPad" >
              <div class="col-md-4">
                  <img src="/images/Eeshita.jpeg" class="circleImg"></img>
              </div>
              <div class="col-md-8">
                <h2 class="tileMain" > &nbsp; About Me </h2>
                  <p class="pad20">Welcome to my website! I am a final year IT student at Bharati 
                      Vidyapeeth's College of Engineering, Delhi.
                      In the past few years I have worked on various
                      projects alongside my formal education and also actively taken part in social work. 
                      I have developed a keen interest in Data Science and Analytics.
                      My goal is to develop innovative solutions for a better world.
                      I inculcate work with flexibility and approach with novel methods for better efficiency 
                      and like to illuminate the room with my people management and soft skills.
                      I have developed this site to share my interests, as they evolve,
                      and connect with like minded individuals.</p>
                  <h6 class="pad20" style="padding-top:0px">Languages: English | Hindi | French (Business Proficient) </h6>
              </div>
          </div>
      </div>
  </div>

  <div class=" softwareImg">
    <div class="container softwareDiv" style="color: white;">
        <h1 class="cenTitle subTitle" style="padding-top: 0px;  padding-bottom: 10px;">SKILLS</h1>
        <div class=" row" style="justify-content: center;" >
     
            <div class="techdiv">
              <h1>Python | C++ | Java</h1>
              <p> Experience in object oriented programming, data structures, and algorithms.
                      </p>
            </div>
      
            <div class="techdiv">
              <h1>Machine Learning</h1>
              <p> Experience in ML Algorithms, Data analysis and pre-processing, Data Visualisation
                      </p>
            </div>
        </div>
        <div class=" row" style="justify-content: center;">
            <div class="techdiv" >
              <h1>Deep Learning</h1>
              <p> Experience in Pytorch, Timeseries, CNN, Computer Vision,
                TensorFlow, OpenCV, NLP
                      </p>
            </div>
      
            <div class="techdiv">
              <h1>Web Developement </h1>
              <p> HTML5 | CSS3 | JS | Flask | Bootstrap <br>
                Experience in making responsive websites.
                      </p>
            </div>

           
           
          </div>
          <div class="row"  style="justify-content: center;">
          <a class="btn btn-outline-secondary btn-lg centerBtn" href="/software/" role="button">View all Projects</a>
        </div>
            
            
        
    </div>
</div>

    <% include ../partials/footer %>
    <script src="includes/jquery.min.js"></script>
    
    <script type="text/javascript" src="scripts/main.js"></script>
  </body>
</html>
